In [2]:
#!pip install seaborn
import seaborn as sns

tips_df = sns.load_dataset('tips')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips_df.isnull().values.any() #Check if NaN value in the dataset
tips_df.isnull().any() #Check if NaN value in the columns
tips_df.isnull().any(axis=1) #Check if NaN value in the rows

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [4]:
#Label encoding
from sklearn.preprocessing import LabelEncoder
label_encoding = LabelEncoder()
tips_df.iloc[:,[2,3,4,5]] = tips_df.iloc[:,[2,3,4,5]].apply(label_encoding.fit_transform)
tips_df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [5]:
#visualizing the encodings in label encoding
label_encoding = LabelEncoder()
col_fit = label_encoding.fit(tips_df["day"])
dict(zip(col_fit.classes_, col_fit.transform(col_fit.classes_)))

{0: 0, 1: 1, 2: 2, 3: 3}

In [8]:
#One Hot encoding
from sklearn.preprocessing import OneHotEncoder
oh_encoding = OneHotEncoder(categories = 'auto')
tips_df_ohe = oh_encoding.fit_transform(tips_df).toarray()
tips_df_ohe.shape

(244, 368)

In [11]:
#Standardization
from sklearn.preprocessing import StandardScaler
zs = StandardScaler()
tips_df_std = zs.fit_transform(tips_df_ohe)
tips_df_std

array([[-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944],
       [-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944],
       [-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944],
       ...,
       [-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944],
       [-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944],
       [-0.06415003, -0.06415003, -0.09090909, ..., -0.42278122,
        -0.14463921, -0.12909944]])

In [13]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
tips_df_std = minmax.fit_transform(tips_df_ohe)
tips_df_std

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])